stateMachine.json
{
  "Comment": "The step function prepairs data from S3 and run a policy search",
  "StartAt": "Start Data Prep Instance",
  "Version": "1.0",
  "TimeoutSeconds": 36000,
  "States": {
    "Start Data Prep Instance": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:446356438225:function:StartStopEC2",
      "Parameters": {
        "InstanceIds": [
          "i-005ec5286b50e7307"
        ],
        "action": "start"
      },
      "Next": "Wait X Seconds"
    },
    "Wait X Seconds": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Get Instance Status"
    },
    "Get Instance Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:446356438225:function:CheckIfEC2StatusOK",
      "Parameters": {
        "InstanceIds": [
          "i-005ec5286b50e7307"
        ]
      },
      "Next": "Instance Start Complete?",
      "ResultPath": "$.results"
    },
    "Instance Start Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.InitilizingComplete",
          "StringEquals": "ok",
          "Next": "Run Data Prep Bash Commands"
        },
        {
          "Variable": "$.results.InitilizingComplete",
          "StringEquals": "initializing",
          "Next": "Wait X Seconds"
        }
      ],
      "Default": "Wait X Seconds"
    },
    "Run Data Prep Bash Commands": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "hilcorp-lower48-plunger-send-bash-scripts-to-EC2",
        "Payload": {
          "commands": [
            "cd /home/ec2-user/",
            "echo \"##### First Pull Git Repository #####\"",
            "cd $(pwd)/EBSPlungerFiles/HilcorpPlungerLift",
            "sudo git pull origin main",
            "cd ../../",
            "echo \"##### Sync S3 Bucket with local EBS #####\"",
            "aws s3 sync s3://hilcorp-l48operations-plunger-lift-main/DataByAPI/ $(pwd)/EBSPlungerFiles/DataByAPI/",
            "echo \"##### Run the data prep function #####\"",
            "docker container start testContainer",
            "docker exec testContainer python EBSPlungerFiles/HilcorpPlungerLift/PrepTFRecord.py",
            "docker container stop testContainer",
            "echo \"##### Finished Data Prep. Will Now Stop EC2 #####\""
          ],
          "InstanceIds": [
            "i-005ec5286b50e7307"
          ],
          "token.$": "$$.Task.Token"
        }
      },
      "Next": "Stop Data Prep Instance"
    },
    "Stop Data Prep Instance": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:446356438225:function:StartStopEC2",
      "Parameters": {
        "InstanceIds": [
          "i-005ec5286b50e7307"
        ],
        "action": "stop"
      },
      "Next": "Start GPU Instance"
    },
    "Start GPU Instance": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:446356438225:function:StartStopEC2",
      "Parameters": {
        "InstanceIds": [
          "i-08b67cde7a8a25c70"
        ],
        "action": "start"
      },
      "Next": "Wait X Seconds GPU"
    },
    "Wait X Seconds GPU": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Get GPU Instance Status"
    },
    "Get GPU Instance Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:446356438225:function:CheckIfEC2StatusOK",
      "Parameters": {
        "InstanceIds": [
          "i-08b67cde7a8a25c70"
        ]
      },
      "Next": "GPU Instance Start Complete?",
      "ResultPath": "$.status"
    },
    "GPU Instance Start Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status.InitilizingComplete",
          "StringEquals": "ok",
          "Next": "Run Direct Policy Search Bash Commands"
        },
        {
          "Variable": "$.status.InitilizingComplete",
          "StringEquals": "initializing",
          "Next": "Wait X Seconds GPU"
        }
      ],
      "Default": "Wait X Seconds GPU"
    },
    "Run Direct Policy Search Bash Commands": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "hilcorp-lower48-plunger-send-bash-scripts-to-EC2",
        "Payload": {
          "commands": [
            "cd /home/ubuntu/",
            "echo \"##### Enable GPU Monitoring In Background, Namespace: DeepLearningTrain #####\"",
            "#python /home/ubuntu/tools/GPUCloudWatchMonitor/gpumon.py &",
            "echo \"##### First Pull Git Repository #####\"",
            "cd $(pwd)/EBSPlungerFiles/HilcorpPlungerLift",
            "sudo git pull origin main",
            "cd ../../",
            "echo \"##### Sync Model Files #####\"",
            "aws s3 sync s3://hilcorp-l48operations-plunger-lift-main/Models/ ~/EBSPlungerFiles/Models/",
            "echo \"##### Delete Historic Data Files #####\"",
            "rm -rf ~/EBSPlungerFiles/TFRecordFiles/*",
            "echo \"##### Download most recent data file #####\"",
            "aws s3 cp s3://hilcorp-l48operations-plunger-lift-main/\"$(aws s3 ls s3://hilcorp-l48operations-plunger-lift-main/TFRecordFiles/ --recursive | sort | tail -n 1 | awk '{print $4}')\" ~/EBSPlungerFiles/TFRecordFiles/",
            "echo \"##### Run the policy search function #####\"",
            "docker container start testContainer",
            "docker exec testContainer python EBSPlungerFiles/HilcorpPlungerLift/DirectPolicySearch.py",
            "docker container stop testContainer",
            "echo \"##### Finished Policy Search. Will Now Stop EC2 #####\""
          ],
          "InstanceIds": [
            "i-08b67cde7a8a25c70"
          ],
          "token.$": "$$.Task.Token"
        }
      },
      "Next": "Stop GPU Instance"
    },
    "Stop GPU Instance": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:446356438225:function:StartStopEC2",
      "Parameters": {
        "InstanceIds": [
          "i-08b67cde7a8a25c70"
        ],
        "action": "stop"
      },
      "End": true
    }
  }
}